header
  .collapse.bg-dark#navbarHeader
    .container
      .row
        .col-sm-8.col-md-7.py-4
          h4.text-white FBB Rules
          p.text-muted 1. Snake draft picked at random.
          p.text-muted 2. Points, Rebounds, Assists, Steals, Blocks = 1 point
          p.text-muted 3. $10 buy in
  nav.navbar.navbar-expand-sm.navbar-dark.bg-dark.shadow-sm
    .container-fluid
      a.navbar-brand(href='/')
        strong Fantasy Basketball League: 2021
      collapse.navbar-collapse
        .navbar-nav
          a.nav-link.active(href='/') Standings
          a.nav-link(href='/draft') Draft (Coming Soon)
          button.navbar-toggler.collapsed&attributes({'data-bs-toggle': 'collapse'}, {'data-bs-target': '#navbarHeader'})
            span.navbar-toggler-icon