header
  .collapse.bg-dark#navbarHeader
    .container
      .row
        .col-sm-8.col-md-7.py-4
          h4.text-white James FBB Rules
          p.text-muted 1. Snake draft picked at random.
          p.text-muted 2. Only the bubble regular season count.(8 games for each team)
          p.text-muted 3. Points are tallied by the total points scored for the player in those games. Ex: If James Harden scores 4 points in a game, he gets 3 points. If(When?) Mattisse Thybulle scores 101 points in a game it will count as 101 points.
          p.text-muted 4. If a player sits out, tough titties, take that into account while you're drafting.
          p.text-muted 5. If you know any other dumb people who want in let me know.
          p.text-muted 6. No money, sports are back, be an adult and lose your money betting on the Bucks or Lakers to win it all
        .col-sm-4.offset-md-1.py-4
          h4.text-white Contact
          ul.list-unstyled
            li
              a.text-white(href='https://twitter.com/mj23dc10') Twitter
  nav.navbar.navbar-dark.bg-dark.shadow-sm
    .container.d-flex.justify-content-between
      a.navbar-brand.d-flex.align-items-center(href='/')
        strong James Fantasy Basketball League
      button.navbar-toggler.collapsed&attributes({'data-toggle': 'collapse'}, {'data-target': '#navbarHeader'})
        span.navbar-toggler-icon